form {
	position: relative;
}
form, form div {
	font-size: 30px;
	text-align: center;
}
form div {
	text-align: right;
	position: absolute;
	background: rgb(4, 100, 126);
	right: -10px;
	width: 382px;
	border-radius: 0 0 5px 5px;
}
form input{
	font-size: .7em;
	border-radius: 4px;
	border: 1px solid rgb(17, 169, 113);
	padding: 3px;
}
form:focus {
	border: 1px solid rgb(4, 140, 226);
}
form input[type=button] {
	border: 1px solid rgb(4, 100, 126);
	background: rgb(4, 140, 226);
	color: white;
	margin-right: 3px;
}
form input[type=button]:hover{
	background: rgb(4, 120, 206);
	cursor: pointer;
}
form input[type=button]:active{
	background: rgb(4, 100, 126);
}
form input[type=submit] {
	background: rgb(43, 229, 183);
	color: white;
}
form input[type=submit]:hover{
	background: rgb(33, 209, 153);
	cursor: pointer;
}
form input[type=submit]:active{
	background: rgb(13, 159, 103);
}
form input:not(.butt){
	width: 360px;
}
form label {
	font-size: .7em;
}