menu {
	font-size: 35px;
	position: relative;
	height: 0;
}
menu form {
	position: absolute;
	background: rgb(4, 156, 107);
	margin: 10px 23px;
	padding: 13px;
	margin-top: 15px;
	display: none;
	z-index: 100;
	border-radius: 4px 4px 0 0 ;
}
menu form div {
	border-radius: 0 0 15px 4px;
	position: absolute;
	width: 388px;
	left: -10px;	
}
menu form input[type=radio]{
	border: 1px solid red;
}